<html>
    <head>
        <title>搜索结果</title>
        <style>
        .center {
            margin: auto;
            padding: 30px;
        }
            
        </style>
    </head>
    <body>
        <div name="head">
            <h1 style="text-align: center">大学课程</h1>
            <h3 style="text-align: center">修改信息</h3>
        </div>
        <div align="center" name="search_body" border="1">
            <form action="operator" method="POST">
                <table border="1">
                    <tr>
                        <th>-</th>
                        <th>源信息</th>
                        <th>修改后</th>
                    </tr>
                    <tr>
                        <td>学校</td>
                        <td>{{ class_data[0] }}</td>
                        <td><input type="text" name="school" value={{ class_data[0] }}></td>
                    </tr>
                    <tr>
                        <td>课程</td>
                        <td>{{ class_data[1] }}</td>
                        <td><input type="text" name="class" value={{ class_data[1] }}></td>
                    </tr>
                    <tr>
                        <td>日期</td>
                        <td>{{ class_data[2] }}</td>
                        <td><input type="text" name="date" value={{ class_data[2] }}></td>
                    </tr>
                </table>
                <input name="oschool" value={{ class_data[0] }} hidden>
                <input name="oclass" value={{ class_data[1] }} hidden>
                <input name="odate" value={{ class_data[2] }} hidden>
                <input name="oper" value="change" hidden>
                <div style="margin: 10 10 10 10">
                    <input type="submit" value="提交">
                </div>
            </form>
                
        </div>
        <div align="center" name="foot">
            <a href="{{url_for('search')}}">返回</a>
            <br>
            <br>
            <a href="{{url_for('info')}}">关于</a>
        </div>
    </body>
</html>